@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import "reboot";
$main-font-family: Roboto;
$nav-header-other-bg-color: #cca0ff;
$brand-color: #191718;
$title-font-family: Raleway;
$transition: ease 0.3s;
@mixin pixelsSize($width, $height) {
  width: $width + px;
  height: $height + px;
}

@mixin brandText {
  font-family: "Lobster Two";
  font-size: 30px;
}
html {
  box-sizing: border-box;
}
body {
  background: white;
}
ul {
  list-style: none;
}
a {
  text-decoration: none !important;
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
input,
button {
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
}
.container {
  display: flex;
  padding: 15px;
  max-width: 1140px;
  flex: 1 1 auto;
  margin: auto;
}
header {
  position: absolute;
  width: 100vw;
}
.header {
  &-nav {
    display: flex;
    background: $nav-header-other-bg-color;
    &__list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
      &__item {
        margin-bottom: 0;
        margin-right: 40px;
        text-transform: uppercase;
        font-family: $main-font-family;
        font-weight: 700;
        a {
          color: white;
          transition: $transition;
        }
        &:hover,
        &.active {
          a {
            color: $brand-color;
          }
        }
        &:last-child {
          text-transform: none;
        }
      }
    }
    .container {
      height: 100px;
      align-items: center;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  &__image {
    @include pixelsSize(150, 100);
    margin-right: 10px;
  }
  &__brand {
    @include brandText;
    margin-bottom: 0px;
    margin-top: 0px;
    color: $brand-color;
    text-align: right;
  }
  &__description {
    font-family: $main-font-family;
    font-size: 15px;
    margin-top: 0px;
    color: #a9005b;
    text-align: right;
    width: 200px;
  }
}
.home-heading {
  background: url("images/tim-foster-hRZ5s-IPCWE-unsplash.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.underhead {
  background: #363636;
  .container {
    height: 100px;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      margin-bottom: 0;
      font-size: 32px;
      font-weight: 700;
      font-family: "Noto Sans JP";
      color: #6c757d;
    }
  }
}
.breadcrumbs {
  background: rgba(50, 13, 110, 0.8);
  display: flex;
  &-list {
    display: flex;
    margin: 0;
    padding: 0;
    &__item {
      margin-right: 30px;
      font-family: "Noto Sans JP", cursive;
      font-weight: 200;
      font-size: 12px;
      color: #d9d9d9;
      &:after {
        content: "/";
        margin-left: 30px;
      }
      &:last-child:after {
        content: "";
      }
    }
  }
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px;
  background: rgba(24, 6, 24, 0.4);
  width: 100vw;
  &__heading {
    font-family: $title-font-family;
    color: white;
    font-size: 40px;
    font-weight: 800;
    width: 50vw;
    text-align: center;
  }
  &__description {
    font-family: $main-font-family;
    color: white;
    width: 60vw;
    text-align: center;
  }
}
.join {
  height: 70px;
  margin-bottom: 60px;
  &__button {
    @include pixelsSize(180, 70);
    margin: 10px;
    border: 1px solid $nav-header-other-bg-color;
    border-radius: 30px;
    background: rgba(50, 13, 110, 0.5);
    text-transform: uppercase;
    @include brandText;
    color: white;
    transition: $transition;
    &:hover {
      border-color: rgba(50, 13, 110, 1);
      background: rgba(50, 13, 110, 1);
    }
  }
}
.article {
  padding-top: 60px;
  padding-bottom: 60px;
  &__image {
    width: 500px;
    margin-right: 50px;
  }
  &__caption {
    display: flex;
    flex-direction: column;
    &__title {
      font-family: $title-font-family;
      font-size: 30px;
      font-weight: 900;
      color: rgba(50, 13, 110, 1);
    }
    &__description {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 700;
      font-family: "Noto Sans JP";
      color: #6c757d;
    }
  }
}
